<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <title>Interview Task</title>
  </head>
  <body>
      <div class="container">
         <center><h1>Gram Vaani Interview Task</h1></center>
      </div>

      <br>
      
      <div class="container">
        
          <form action="" method="POST">
            {% csrf_token %}
            <input type="submit" name = "status" value="All Employees">
            <input type="submit" name = "status" value="Active Employees">
            <input type="submit" name = "status" value="Inactive Employees">
            <a  href = "{% url 'add-employee' %}"><input type="button" name = "add" value = "Add Employees"></a>
          </form>
        
     </div>
     <br>
     <br>

      
      <div class="container">
        <table class="table table-bordered">
            <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Name</th>
                  <th scope="col">Address</th>
                  <th scope="col">Contact</th>
                  <th scope="col">Salary</th>
                  <th scope="col">Status</th>
                  <th></th>
      
                </tr>
              </thead>
              <tbody>

                {% for e in employee %}
          
                <tr>
                    <td> {{ e.id }} </td>
                    <td> {{ e.name }} </td>
                    <td> {{ e.address }} </td>
                    <td> {{ e.contact }} </td>
                    <td> {{ e.salary }}</td>
                    <td> 
                      <form action="" method="POST">
                        {% csrf_token %}
                        {{ e.status }}  <a href="{% url 'update-status' e.id %}"><input type="button" name = "Change" value = "Change"></a>  
                        <!-- <div class="btn-group btn-group-toggle" data-toggle="buttons">
                          <label class="btn btn-secondary active">
                            <input type="radio" name="options" id="option1" autocomplete="off" checked> Active
                          </label>
                          <label class="btn btn-secondary">
                            <input type="radio" name="options" id="option2" autocomplete="off" onclick= '{ updateStatus }' > InActive
                          </label>
                        </div> -->
                      </form>
                    </td>
                    <td>
                      <a href="{% url 'edit-employee' e.id %}" ><input type="button" name = "edit" value = "Edit"></a>
                      <a href="{% url 'delete-employee' e.id %}" ><input type="button" name = "delete" value = "Delete"></a>
                    </td>
                </tr>
                
                {% endfor %}

              </tbody>
            </table>
        </table>
      </div>
      
  </body>
</html>